/* ================================================= Hanken Grotesk ================================================= */
@font-face {
    font-family: 'Hanken Grotesk';
    src: url(HankenGrotesk-SemiBold.ttf);
    font-weight: 600;
}
@font-face {
    font-family: 'Hanken Grotesk';
    src: url(HankenGrotesk-Regular.ttf);
    font-weight: 400;
}
