/* ==================================================== ADAPTIVE =================================================== */
// $mobileSM:                                        380px;
$mobile:                                          576px;
$tablet:                                          768px;
$tabletXL:                                        992px;

$laptop:                                         1200px;
$laptopXL:                                       1300px;
$desktop:                                        1400px;
// $desktopXL:                                      1499px;
// $desktopXXL:                                     1599px;
/* ==================================================== LAYOUTS ==================================================== */
$article-wrapper:                                 896px;
$small-wrapper:                                  1130px;
$second-wrapper:                                 1360px;
$main-wrapper:                                   1680px;
/* ===================================================== COLORS ==================================================== */
//main
$primary-color:                               #797131;
$secondary-color:                             #822118;
//black
$light_black-color:                           #1B1B1B;
$pre_black-color:                             #182023;
$black-color:                                 #000000;
$second_black-color:                          #1F1F1F;
//white
$white-color:                                 #FFFFFF;
$pre_dark_white-color:                        #F5F5F0;
$dark_white-color:                            #F5F5F5;
//silver
// $lighten_silver-color:                        #DBDBDB;
$light_silver-color:                          #B5B2B2;
$silver-color:                                #A7A7A7;
//red
$red-color:                                   #B42E21;
//orange
$light_orange-color:                          #E9C97C;
$orange-color:                                #ECB22D;
$dark_orange-color:                           #D5A129;
//grey
$grey-color:                                  #AEAEAE;
$pre_dark_grey-color:                         #6D6D6D;
$dark_grey-color:                             #5A5A5A;
$light_grey-color:                            #8D8E8D;
$border_grey-color:                           #C1C1C1;
//milk
$milk-color:                                  #F5F5F0;
/* ===================================================== RGBA ====================================================== */

