<link rel="stylesheet" href="{{ 'footer.css' | asset_url }}">

<div class="footer-wrapper">
	FOOTER
</div>

{% comment %} <script type="module" src="{{ 'footer.js' | asset_url }}"></script> {% endcomment %}

{% schema %}
    {
        "name": "Footer",
		"tag": "footer",
		"class": "footer"
    }
{% endschema %}
